.character_card {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    height: 120px;
    background-color: rgba(86, 40, 80, 0.6);
    color: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.character_img {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #e137b0;
}

.character_name {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #fff;
}

.character_info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}
.game_clues {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 6px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #e137b0;
    border-radius: 12px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.game_clues:hover {
    border-color: #710852;
    box-shadow: 0 0 8px rgba(113, 8, 82, 0.6);
}


/* Style de base appliqué à TOUS les spans */
.character_info_item {
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1.5px solid #e137b0;
    border-radius: 8px;
    padding: 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}
.character_info_item strong {
    display: none;
}

.character-attributes-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(86, 40, 80, 0.6);
    border-radius: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 130px; /* 95px (image) + 12px (gap) + 10px (padding card) */
    margin-top: 10px;
    text-align: center;
    justify-self: center;
    gap: 10px;
    width: 91%;
}

.character-attribute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 30px;
    font-size: 15px;
    padding: 0;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}



/* États spécifiques */
.match  {
    background-color: #4caf50; /* vert */
    border-color: #388e3c;
    color: #fff;
}

.no-match {
    background-color: #f44336; /* rouge */
    border-color: #d32f2f;
    color: #fff;
}

